.bun {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    composes: pl-8 pr-6 from global;
}
/* .bun_position_top {
    margin-bottom: 16px;
}
.bun_position_bottom {
    margin-top: 16px;
} */
  